<div class="container">
<h1> arco de historias</h1>

<div class="box">
<p>Arcos de História
  O Espadachim Negro (Capítulos -16 ao -9)
  Guts, conhecido como O Espadachim Negro, caça monstros em castelos dominados por criaturas abissais conhecidas como "apóstolos". Em uma de suas caçadas, Guts se depara com um artefato mágico em forma de um ovo com feições humanas conhecido como Behelit, artefato este capaz de abrir um portal dimensional e leva-lo até seu maior adversário, Femto.</p>

 <p>Era de Ouro (Capítulos -8 ao 94)
  O arco começa na infância de Guts e avança, nos primeiros capítulos, até o primeiro contato com o Bando do Falcão liderado por Griffith. Guts, Griffith e Caska, lideram as tropas do Bando do Falcão para pôr fim em uma guerra centenária entre o Reino de Midland e o Império Tudor. Ao fim da guerra, após a queda da fortaleza de Doldrey, Griffith é condecorado com o título de Falcão Branco. Com acesso à nobreza e aristocracia, mas coloca tudo à perder ao decidir deitar-se com a princesa Charlotte para, finalmente, concretizar o sonho de se tornar rei. Ao ser flagrado por uma criada enquanto faz sexo com a princesa, Griffith é preso e torturado por um ano, até ser resgatado pelos remanescentes do bando, mas, neste mesmo dia um eclipse toma conta de Midland, e um portal dimensional se abre para buscar o líder do bando e coroa-lo como o quinto membro da Mão de Deus.
</p>
<p>Torra da Convicção (Capítulos 95 ao 176)
  Após os acontecimentos da Era de Ouro, a história retorna ao presente acompanhando a jornada de Guts em busca dos apóstolos. Ao descansar em baixo de uma árvore, Guts observa um grupo de bandidos abusar de uma garota chamada Jill, ao confrontar os bandidos, a marca em seu pescoço começa sangrar e a árvore ganha vida, Guts luta até o amanhecer contra o demônio. Ao raiar do sol, Jill, Guts e o elfo Puck caminham até o vilarejo, chegando lá o Espadachim negro se depara com aldeões amedrontados por ataques de Elfos raptores de crianças. Após breves acontecimentos Guts conhece Serpico, membro d'Os Cavaleiros da Corrente de Ferro Sagrada. Ao viajar para Albion, Guts descobre que Caska desapareceu e prontamente passa investigar seu paradeiro e acaba em meio a uma batalha entre cultistas possuídos e Os Cavaleiros da Corrente de Ferro Sagrada.
</p>
<p>Falcão Milenar (Capítulos 177 ao 307)
  A história acompanha Guts e seus amigos encarando as consequências da transformação de Griffith no quinto membro da Mão de Deus, Femto. Ao longo do caminho Guts conhece uma bruxa chamada Schierke e descobre a armadura Berserker, tão poderosa que é capaz de ameaçar a sanidade de Guts. Ao mesmo tempo que Guts busca a armadura e enfrenta novas e poderosas ameaças, Femto trama inquietantes planos para realizar o seu novo sonho, fazer de todo o mundo seu próprio reino.
</p>

 <p>Fantasia (308 - em andamento)
  Guts e seu grupo zarpam em direção à Elfhelm, o reino dos elfos e criaturas mágicas, localizado na ilha Skellig no Mar Ocidental, em busca de ajuda do rei elfo para restaurar a sanidade de Caska.</p>

</div>
</div>
