<div>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">berserk</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent badge-light">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            sobre
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/sobre/historia">historia</a>
            <a class="dropdown-item" routerLink="/sobre/imagens">imagens</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/sobre/manga">manga</a>
          </div>
        </li>
      </ul>
      </div>
  </nav>

</div>

