
<div class="container">
  <h1> Berserk </h1>

<br>
<div class="box">
    <p>Berserk, também conhecido no Japão como Kenpū Denki Berserk,
   é uma série de anime japonesa baseada no mangá de Kentaro Miura com o mesmo nome.
   A série foi produzida pela Nippon Television e VAP,
   animada pela Oriental Light and Magic e dirigida por Naohito Takahashi</p>
<br>
   <p>Primeiro episódio: 7 de outubro de 1997 </p>

   <p>Episódio final: 31 de março de 1998</p>
   <br>
   <p>Adaptação de: Berserk</p>
   <br>
   <p>Emissora original: Nippon TV</p>
   <br>
   <p>Criadores: Nippon TV, VAP
    Gêneros: Fantasia sombria, Aventura, Ação/Aventura, Alta fantasia, Ação, Espada e feitiçaria</p>
</div>

</div>




