<div class="container">
    <div class="card" style="width: 18rem;" class="box box-1">
    <img src="https://images-na.ssl-images-amazon.com/images/I/5191HKIfUPL._SX341_BO1,204,203,200_.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">berserk vol.1</h5>
      <p class="card-text">mostra o inicio do Espadachim Negro.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;" class="box box-2">
    <img src="https://images-na.ssl-images-amazon.com/images/I/91C7rVvxP-L.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">berserk vol.2</h5>
      <p class="card-text">Guts se depara com o Behelit, uma misteriosa pedra que pode invocar os God Hand, os terríveis senhores da escuridão, que ele deseja encontrar para completar sua vingança..</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;" class="box box-3">
    <img src="https://images-na.ssl-images-amazon.com/images/I/91UVMWCFQqL.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">berserk vol.3</h5>
      <p class="card-text">O arco introdutório ('O Anjo da Guarda da Ambição') é finalizado de forma dramática, revelando os todo poderosos "God Hand". É um momento forte na cruzada por vingança, empreendida por Guts.</p>
    </div>
  </div>
  </div>


